body {
    /* background-image: url("../assets/irish-flag.jpg");  */
    background-color: gray;
     background-repeat: no-repeat;
    background-size: cover;
  
}

.hide {
    background-color: red;
}

.jumbotron {
    /* background-image: url("../assets/shamrock.jpg");  */
    /* background-color: green; */
    background-image: url("../assets/irish-flag.jpg"); 
    background-repeat: no-repeat;
   background-size: cover;
}

#startBtn {
    background-color: rgb(255, 123, 0);
}

.triviaGame {
    display: none;
}

.question0 {
    padding: 10px;
}
.question1 {
    padding: 10px;
}

.question2 {
    padding: 10px;
}

.question3 {
    padding: 10px;
}

.question4 {
    padding: 10px;
}
.question5 {
    padding: 10px;
}